doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title music site
    link(rel='stylesheet', href='../static/style.css')
    link(href='https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap', rel='stylesheet')
  body
    header
      nav
        ul
          li
            a(href='') home
          li
            a(href='') performer
          li
            a(href='') venue
          li
            a(href='') about
          li
            a(href='/contact') contact
        li#buy
          a(href='') BUY TICKETS
        li#logo
          a EVENTCOM
      .sec1
        h1 CONCERTS 2022
        li EXPLORE
    section.home
      .wave
      .wave
      .wave
      #ach OUR ACHIVEMENTS
      .wrapper
        .containerr
          i.fas.fa-utensils
          span.num(data-val='400') 000
          span.text Events Organised
        .containerr
          i.fas.fa-smile-beam
          span.num(data-val='60') 000
          span.text Celebrities
        .containerr
          i.fas.fa-list
          span.num(data-val='100') 000
          span.text Cities
        .containerr
          i.fas.fa-star
          span.num(data-val='700') 000
          span.text Members
      script(src='../static/script.js')
    section.performer
      #ptext PERFORMERS
      .color
        img#img1(loading='lazy', src='../static/imgs/img1.jpg')
        img#img2(loading='lazy', src='../static/imgs/img2.jpg')
        img#img3(loading='lazy', src='../static/imgs/img3.jpg')
        img#img4(loading='lazy', src='../static/imgs/img4.jpg ')
      ul
        li.txt1 Kurt Cobain 
        li.txt1 Chad Channing
      ul
        li.txt2 Aaron Burckhard 
        li.txt2 Dave Grohl
    section.about
      #atext ABOUT PROGRAM
      #content
        | The event regularly attracts a diverse range of attendees from around the 
        br
        |  world, across different professions, and with different.
      #booking It&rsquo;s time to book your seat
      #cnt
        | The event regularly attracts a diverse 
        br
        |  
        br
        | range of attendees from around the 
        br
        |  
        br
        |  world, across different professions, and 
        br
        |  
        br
        |  with different levels of experience 
        br
        |  
        br
        |  transform your business.
      img#abimg(src='../static/imgs/abimg.jpg', loading='lazy')
      .btn
        a(href='#')
          span Buy Tickets
    section.programs
      #prtext  Program Details
      .circles
      .circles
      .circles
      .circles
      .artist  3:00-5:00pm 
      .artist1 12 FEB 2022
      .artist2  5:00-7:00pm 
      .artist3 12 FEB 2022
      .artist4  7:00-9:00pm 
      .artist5 12 FEB 2022
      .artist6  9:00-11:00pm 
      .artist7 12 FEB 2022
      #img11
      #img12
      #img13
      #img14
      .vl
    section.map
      #maping
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d49987.418161691996!2d73.19407952441146!3d22.310152404986557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1671560010410!5m2!1sen!2sin', width='600', height='450', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
      .warn  this is only for development purpose
    section.venue
      #vtext Concert 2022
      ul
        li venue : 26/A, Coontum Avenu New fork
        li phone no. : +10 (88) 267 368 283
        li email : eventcom@concert20.com
    section.sponsors
      h1.ctext Our Sponsors
      #clients
        .client-items
          img(src='../static/imgs/l1.png', alt='cannot load this image')
        .client-items
          img(src='../static/imgs/l2.png', alt='cannot load this image')
        .client-items
          img(src='../static/imgs/l3.png', alt='cannot load this image')
        .client-items.logo4
          img(src='../static/imgs/l4.png', alt='cannot load this image')
        .client-items
          img(src='../static/imgs/l5.png', alt='cannot load this image')
      .hz
      #quote The event regularly attracts a diverse range of attendees from around the world.
      footer
        p.footer
          | Copyright &copy;2022 All rights reserved | This template is made with &hearts; by &nbsp;
          span  Divyanshu